{% load static %}



    <div class=" mb-3">
        
            <div class="w3-xlarge w3-center w3-padding-large  w3-block" data-toggle="modal" data-target="#inquiryModal" style="border: 4px; background-color:  #15151e; color:white;"> <h3 class="w3-center w3-jumbo">
                 Booking</h3>
                 <hr class="w3-amber" style="width:100%;">
          
            <h4 class="w3-text-amber"> To Join Just Book A Spot </h4>
            <div><h3 class="w3-center w3-small"><span class="w3-text-red ">NB: </span> All Bookings will be approved once your Registration is  received.......
                Once You have paid for registrations a password will be sent to you to access members area</h3></div>
           
            <span class="btn btn-success w3-xlarge w3-round-xlarge w3-margin ">Book  A Spot</span> 
       
            </div>
        
    </div>
    
    
        <div class="w3-panel">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
        </div>
        <!-- Inquiry Modal -->
        <div class="modal fade " id="inquiryModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header w3-win8-red">

                <button type="button" class="close" data-dismiss="modal">
                <span class="w3-text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form action="{% url 'howtojoin' %}" method="POST">
                    {% csrf_token %}
                
                    {% if user.is_authenticated %}
                    
    
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% else %}
                        <input type="hidden" name="user_id" value="0">
                    {% endif %}
                    <input type="hidden" name="booking_id" value="{{ booking.id }}">
                    <div class="form-group">
                    <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" value="{{ user.first_name}}" required>
                        </div>

                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}" required>
                        </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="email" name="email" class="form-control"  value="{{ user.email }}"  required>
                    </div>
                    <div class="form-group">
                        <label for="phone_number" class="col-form-label">Phone:</label>
                        <input type="text" name="phone_number" class="form-control" required>
                        </div>
            
                    <div class="form-group">
                        <label for="id_number" class="col-form-label">Id Number:</label>
                        <input type="text" name="id_number" class="form-control" required>
                        </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block w3-hover-amber w3-large w3-highway-red w3-border-amber">
                    </form>
                
                </div>
                </div>
            </div>
            </div>
        </div>
    
       
    <div class="w3-container">
        <h1 class="w3-center "><span class="w3-text-red w3-Xxxlarge">B</span>ookings</h1>
 
        {% if bookspots %}
        <table class="w3-table">
            <tr>
            <th class="w3-camo-black">Name</th>
            <th class="w3-camo-black">Id Number</th>
            <th class="w3-camo-black">Email</th>
            <th class="w3-camo-black">Phone Number</th>
            <th class="w3-camo-black">Approval</th>
            
            
            </tr>
            <h6 class="w3-center"><i>below are all booked dates from when the truck and sound systems are hired to when they are returned, please pick only dates that have not been booked</i> </h6>
            <hr class="w3-green" style="padding:3px;">
            
            {% for bookspot in bookspots %}
            
            <tr>
            <td>{{bookspot.first_name}} {{bookspot.last_name}}</td>

            {% if user.is_staff %}
            <td>{{bookspot.id_number}}</td>
            {% else %}
            <td>##############</td>
            {% endif %}

            {% if user.is_staff %}
            <td>{{bookspot.phone_number}}</td>
            {% else %}
            <td>*************</td>
            {% endif %}

            <td>
                {% if bookspot.approved%}
                <span class="w3-green w3-button ">Registered</span>
                {% else %}
                <span class="w3-red w3-button ">Waiting.....</span>
                {% endif %}
    
            </td>
            
            </tr>
            {% endfor %}
    
    {% else %}
    <style>.w3-lobster {font-family: "Lobster", serif;}</style>
    <div class="alert alert-primary w3-wide w3-animate-fading w3-center w3-content" role="alert">
            <h4 class="w3-lobster">No Bookings Have Been Made Yet!</h4>
            
    </div>
    
    
    {% endif %}
    
        </table>
        
        </div>
        <br><br><br>
        


