{% load static %}
<style>
    * {
      box-sizing: border-box;
    }
    
    .zoom {
      
      transition: transform .2s;
    
     
    }
    
    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5); 
    }
    </style>
   
   <section id="services" class="py-5 bg-secondary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <i class="fas fa-comment fa-4x mr-4"></i>
            <hr>
            <h3>Consulting Services</h3>
            <p>We at Kwela have been buying and selling plots for more than ten years. 
              We know the do and dont's of everything to do with Land. That includes as
              being victims in our days of amateurism don't just buy because it has a title we know better.
            </p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-home fa-4x mr-4"></i>
            <hr>
            <h3>Plot Search</h3>
            <p>Sometimes the kind of land your looking for it is too strategic few people are selling. 
              That means few are advertising, thats where we come in we work with you to search it out so 
              that you only buy what your looking for .</p>
          </div>
          <div class="col-md-4">
            <i class="fas fa-suitcase fa-4x mr-4"></i>
            <hr>
            <h3>Selling</h3>
            <p>Not everyone is a buyer we value the people who choose to sell land through us. 
              Depending with location at times we too can be you customers. So come and join us today we can build faster and bigger.</p>
          </div>
        </div>
      </div>
      
      
    </section>
<!-- Footer -->
<footer class="page-footer font-small  w3-theme-d5 w3-padding w3-small pt-4">
    

  <!-- Footer Links -->

  <div class=" w3-margin-top w3-theme-l5">
      <div class="w3-container">

          <div class="container  w3-margin-bottom">
              <div class="w3-panel w3-bottombar w3-border-theme">
              
                </div>
                <div class="w3-quarter">
                <h5 class="text-uppercase"><strong>Location</strong></h5>
                <p>
                    Biashara House,[<span class="w3-text-red">orange building</span>]<br>
                    Opp. Ruiru Town Main Bus Stage,<br>
                    2nd Floor Room 31, <br>
                    P.O. Box 1404, 00232, Ruiru<br>
                    phone-1 (+254) 0726 776 796<br>
                    phone-2 (+254) 0726 973 915<br>
                    phone-3 (+254) 0743 800 497
                    
                </p>
              </div>
              <div class="w3-threequarter  w3-margin-bottom zoom " >
                <img src="{% static 'img/rt.png' %}"  class="w3-round" alt="Biashara house Ruiru" style="width:100%; height:300px;">
              </div>
              
            </div>    
        </div>
    </div>
  </div>
  
</div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a><span class="w3-text-blue">www.kwela.co.ke</span> </a><br>
    <small>Designer:Mikha'el</small>
  </div>

</footer>
