


<!-- Footer -->
<footer class="page-footer font-small  w3-theme-d5 w3-padding w3-small pt-4">


  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3 w3-hide">

        <h5 class="text-uppercase ">Reach us</h5>
        <a href="{% url 'contact' %}"   class="w3-button w3-light-grey"><i class="fa fa-arrow-right  w3-margin-right"></i>Contact</a>
        <div class="w3-xlarge w3-section">
          <i class="fa fa-facebook-official w3-hover-opacity"></i>
          <i class="fa fa-instagram w3-hover-opacity"></i>
          <i class="fa fa-snapchat w3-hover-opacity"></i>
          <i class="fa fa-pinterest-p w3-hover-opacity"></i>
          <i class="fa fa-twitter w3-hover-opacity"></i>
          <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
      

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 w3-hide">

         
          <h5 class="text-uppercase">About</h5>

          <ul class="list-unstyled w3-text-blue">
            <li>
              <a class="w3-orange w3-button"href="{% url 'blog-home' %}">Blog</a>
            </li>
          
            <li>
              <a class="w3-orange w3-button" href="{% url 'post-create' %}">Create</a>
            </li>
            <li>
              <a class="w3-orange w3-button w3-border -w3-border-white" href="{% url 'blog-about' %}">Kwela Company Profile</a>
            </li>
          </ul>

        </div>
       
        <div class="col-md-3 mb-md-0 mb-3 w3-hide">

          <h5 class="text-uppercase">A-block</h5>

          <ul class="list-unstyled">
            <li>
              <a class="w3-blue" href="{% url 'propertys' %}">P-block</a>
            </li>
            <li>
              <a class="w3-blue" href="{% url 'owners' %}">O-block</a>
            </li>
            <li>
              <a class="w3-blue" href="{% url 'buyers' %}">B-block</a>
            </li>
          
          </ul>

        </div>


    </div>
  

  </div>
  <!-- Footer Links -->


  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="www.kwela.co.ke"><span class="w3-text-blue">kwela.co.ke</span> </a>
  </div>
  

</footer>
