{% load static %}

{% if photos %}

<div class="w3-container container" >
 <span class="w3-right w3-padding-large w3-xxlarge w3-margin-top"><span class="w3-text-blue">Jamii</span><span class="w3-text-green">Kilimo</span>   Album</span>
 <br><br><br>
 <hr class="w3-amber" style="width:100%">
  <div class="w3-row w3-margin-top ">
    {% for photo in photos %}
    <div class="w3-third">
      <div class=" w3-card-4 card w3-round  w3-margin" >
         <img src="{{ photo.photo_main.url }}"  style="width:100%; height:370px; ">
         <a href="{% url 'photo' photo.id %}"><button style=" background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);" class="btn w3-border-blue w3-hover-white w3-text-white col-sm-12 w3-hover-text-amber">{{ photo.title }}</button></a>
     
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="w3-content w3-margin-bottom w3-center">
      <a href="{% url 'photos' %}"><button  style="background-image: linear-gradient(to bottom, #5be8ee, #00b4d6, #0080b6, #004e8e, #061d5c);" class="btn w3-border-blue w3-hover-white w3-text-white w3-hover-text-amber">View More In Gallery </button></a>
  </div>  
</div>
{% endif %}

