{% load static %}

{% load humanize %}

  <!-- Listings -->
 
       
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4 ">
              <div class="w3-border w3-hover-border-red
                w3-border-black card listing-preview wow fadeInLeft" data-wow-duration="4.5s">
                <img class="card-img-top sudo" src="{{ listing.photo_main.url }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    <span class="badge  w3-metro-darken w3-border-red text-white">Kes{{ listing.price | intcomma }}</span>
  
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h5 class="text-dark ">{{ listing.title }}</h5>
                    <p>
                      <i class="fas fa-map-marker w3-text-green"></i> Closest Town {{ listing.town }} 
                    </p>
                  </div>
                  <hr class="w3-metro-red ">

                  <div class="row py-2 text-secondary">
                    <div class="col-sm">
                      <i class="fas fa-th-large w3-text-brown"></i>  <span class="text-dark">Size: {{ listing.plot_size }}</span></div>
                      <div class="col-sm">
                        <i class="fas fa-map-pin w3-text-green"></i>  <span class="text-dark">Center {{ listing.location }}</span></div>
                      

                      <div class="col-sm-12 w3-center">
                        <i class="fas fa-clock w3-text-red"></i> 
                        <span class="text-dark">Posted {{ listing.list_date | timesince }}</span></div>
                    </div>
                    <div class="col-sm-12">
                  <a href="{% url 'listing' listing.id %}" class="btn w3-white w3-border-black w3-hover-border-red w3-text-red w3-hover-text-green btn-block">More Info</a>
                  </div>
                </div>
              </div>
            </div>
      

            
       

     
