{% load static %}

  <nav class="navbar fixed-top w3-win8-cobalt navbar-expand-lg navbar-dark">
      <div class="container-fluid">
      <span>
     <a class="navbar-brand" href="{% url 'index' %}">
      <img style="width:40px; height:40px" src="{% static 'img/android-icon-48x48.png' %}" class="w3-circle" /></span> 
 
              <span>LanDPlanet<span>
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars mfa-white"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <ul class="navbar-nav">
                      <li
                        {% if '/' == request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                      >
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                      </li>
                     
                      <li
                      {% if 'listings' in request.path %}
                        class="nav-item active mr-3"
                      {% else %}
                        class="nav-item mr-3"
                      {% endif %}
                    >
                      <a class="nav-link " href="{% url 'listings' %}">All Plots </a>
                    </li>
                 
            
            
                    <li
                    {% if 'about' in request.path %}
                      class="nav-item active mr-3"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                  >
            
                    <a class="nav-link " href="{% url 'about' %}">About</a>
                  </li>

                  <li
                    {% if 'photos' in request.path %}
                      class="nav-item active mr-3"
                    {% else %}
                      class="nav-item mr-3"
                    {% endif %}
                  >
            
                    <a class="nav-link " href="{% url 'photos' %}">Gallery</a>
                  </li>
                   <li
                        {% if 'contact' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                        >
                        <a class="nav-link " href="{% url 'contact' %}">Contact</a>
                      </li>

                  <li
                  {% if 'team' in request.path %}
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                  >
                  <a class="nav-link w3-hide " href="{% url 'teams' %}">Team</a>
                </li>
 
                  <li
                  {% if 'houses' in request.path %}
                    class="nav-item active mr-3"
                  {% else %}
                    class="nav-item mr-3"
                  {% endif %}
                >
                  <a class="nav-link w3-hide" href="{% url 'houses' %}">Houses  </a>
                </li>
                <li
                {% if 'rentals' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link w3-hide" href="{% url 'rentals' %}">Rentals </a>
              </li>
              
                    
                    
            
                      </li>
                    </ul>
                    
                    <ul class="navbar-nav ml-auto">
                      {% if user.is_authenticated %}
               
                
                      <li
                      {% if 'photos' in request.path %}
                        class="nav-item active mr-3"
                      {% else %}
                        class="nav-item mr-3"
                      {% endif %}
                      >
                      <a class="nav-link w3-hide " href="{% url 'photos' %}">Gallery</a>
                    </li>
                      <li
                      {% if 'team' in request.path %}
                        class="nav-item active mr-3"
                      {% else %}
                        class="nav-item mr-3"
                      {% endif %}
                      >
                      <a class="nav-link  w3-hide" href="{% url 'teams' %}">Team</a>
                    </li>
                        <li
                        {% if 'profile ' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                      >
                        <a class="nav-link w3-hide" href="{% url 'profile' %}">Profile</a>
                      </li>
                        
                    </li>
                      <li
                      {% if 'blog-home' in request.path %}
                        class="nav-item active mr-3"
                      {% else %}
                        class="nav-item mr-3"
                      {% endif %}
                      >
                      <a class="nav-link " href="{% url 'blog-home' %}">News</a>
                    </li>
                    
                        <li
                        {% if 'dashboard' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                        >
                          <a class="nav-link" href="{% url 'dashboard' %}">
                           [Dashboard]</a>
                        </li>
                       
                        
                        <li class="nav-item mr-3">
                          <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                            <i class="fas fa-sign-out-alt"></i> Logout
                          </a>
                          <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                          </form>
                        </li>
                      {% else %}
                       {% if user.is_staff %}
                        <li
                       
                        {% if 'register' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                        >
                          <a class="nav-link" href="{% url 'register' %}">
                            <i class="fas fa-user-plus"></i> Register</a>
                        
                        </li>
                        <li
                       
                        {% if 'payment' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                        >
                          <a class="nav-link" href="{% url 'payment' %}">
                            <i class="fas fa-user-plus"></i> Payments</a>
                        
                        </li>
                        {% endif %}
                        <li
                        {% if 'login' in request.path %}
                          class="nav-item active mr-3"
                        {% else %}
                          class="nav-item mr-3"
                        {% endif %}
                        >
                          <a class="nav-link" href="{% url 'login' %}">
                            <i class="fas fa-sign-in-alt"></i>
            
                            Login</a>
                        </li>
                      {% endif %}
                    
                     
                      
                            
                       
                     
                    </ul>

          </div>

      </div>
  </nav>
