{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark w3-theme-d5 sticky-top" style="width:100%;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
        
      </button>
     
   
      <span class="w3-btn w3-hide-large w3-circle w3-white w3-hover-amber  w3-large" onclick="w3_open()"><i class="fa fa-search w3-hover-text-black w3-text-green"></i> </span>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
         
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
          <li
            {% if 'listings' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'listings' %}">All Plots </a>
          </li>
          
            <a class="nav-link w3-hide" href="{% url 'contact' %}">Contact </a>
          </li>
          <li
          {% if 'lamu' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link " href="{% url 'lamu' %}">Lamu</a>
        </li>
          <li
            {% if 'blog-home' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'blog-home' %}">Kwela InfoHub </a>
          </li>

         
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
     
            <li
            {% if 'wasifu ' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'wasifu' %}">Profile</a>
          </li>
            
        </li>
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link w3-hide" href="{% url 'dashboard' %}">
               [Dashboard]</a>
            </li>
            
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
          
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        
         
          
                
           
         
        </ul>
    </div>
  </div>
</nav>