{% load static %}
<style>
        body, html {
          height: 100%;
        }
        
        .parallax {
          /* The image used */
          
          background-image: url('http://localhost:8000/media/links/2020/01/06/malibu_O7JPQ39.jpg');
        
          /* Full height */
          height: 110vh; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: repeat;
          background-size: cover;
        }

          .contact {
          /* The image used */
          
          background-image: url('http://localhost:8000/media/links/2020/01/06/malibu_O7JPQ39.jpg');
        
          /* Full height */
          height: 170vh; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: repeat;
          background-size: cover;
        }

        .front {
          /* The image used */
          
          background-image: url('http://localhost:8000/media/links/2020/01/06/malibu_O7JPQ39.jpg');
        
          /* Full height */
          height: 35vh; 
        
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: repeat;
          background-size: cover;
        }
        
        /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
        @media only screen and (max-device-width: 1366px) {
          .parallax {
            background-attachment: scroll;
          }
        }
        </style>
     <!-- Showcase -->
     