<!-- Top Bar -->

<head>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-food.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-camo.css">
<style>
.w3-highway-red{color:#fff;background-color:#a6001a}
</style>
</head>
<section id="top-bar  " class="p-3 " >
    <div class="container">
     
 
        <div class="w3-container">
          
              <div class="w3-tag w3-jumbo w3-pannel w3-topbar w3-bottombar w3-leftbar w3-rightbar w3-border-white w3-round w3-white w3-border w3-border-white" style="border:50px;">
        <h1 class="w3-wide w3-bottombar w3-white w3-border-orange w3-jumbo w3-text-brown w3-hover bounceInLeft "><strong>Kwela</strong></h1>
              </div>
         
          </div>

 
        </div>
  </div>
  <div>
      </a>
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <div class="social text-right">
           
            <a href="#">
              <i class="fab fa-facebook w3-blue"></i>
            </a>
         
            <a href="#">
              <i class="fab fa-linkedin w3-black"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram w3-amber"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter w3-light-blue"></i>
            </a><br />
              <i class="fas fa-phone"></i> (+254) 743 800 497 <br />
              <i class="fas fa-envelope-open"></i> contact@goshenrealestate.co <br />
            
            
           
          </div>
          
        </div>
        
      </div>
    </div>
    
  </section>