<!-- Top Bar -->
{% load static %}
<head>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-food.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-camo.css">

</head>
<section id="top-bar  " class="p-3 " >
    <div class="container">
        <div class="w3-container w3-right-align">   
                {% if pages %}
                  {% for photoi in pages %}
                  <img src="{{ photoi.photo_logo.url }}" alt="Kwela"  style="width:150px;">
                  {% endfor %}
                {% endif %}
        </div>
  </div>
<!--
  <div>
      </a>
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <div class="social text-right">
           
            <a href="#">
              <i class="fab fa-facebook w3-blue"></i>
            </a>
         
            <a href="#">
              <i class="fab fa-linkedin w3-black"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram w3-amber"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter w3-light-blue"></i>
            </a><br />
              <i class="fas fa-phone"></i> (+254) 743 800 497 <br />
          
            
            
           
          </div>
          
        </div>
        
      </div>
    </div>
  -->
  </section>