
      {% include 'partials/_searchform.html' %}
     
          {% if listings %}
          {% for listing in listings %}
          
              <!--overlay-->
              {% include 'partials/_listings.html' %}
              
          {% endfor %}
          <button class="btn w3-highway-green w3-border-green w3-hover-white  w3-xlarge w3-right w3-wide" style="width: 100%;"><b>View More</b></button>
          {% else %}
            <div class="col-md-12">
              
              <p>......</p>
            </div>
          {% endif %}
          
          <br><br>
        


         
      </div>
      </div>
      <br><br>


      
      </div>
      <br><br>
    </div>
  
 
