{% extends 'base.html' %}

{% block title %}  | {{ user.username|capfirst }}  {% endblock %}
{% load humanize %}
{% block content %}
<div class="w3-center">
    <img  src="{{ user.profile.image.url }}" style="width:150px">
    </div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark w3-theme-d5 sticky-top">

    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
          <li
            {% if 'listings' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'listings' %}">Featured </a>
          </li>
          
            <a class="nav-link w3-hide" href="{% url 'contact' %}">Contact </a>
          </li>
          <li
            {% if 'blog-home' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link " href="{% url 'blog-home' %}">Kwela InfoHub </a>
          </li>

         
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'wasifu ' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'wasifu' %}">Profile</a>
          </li>
            
        </li>
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'dashboard' %}">
               [Dashboard]</a>
            </li>
            
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        
          {% if perms.catalog.can_view_buyers %}
          <li {% if 'Propertys' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Files
              </a>
              <div class="dropdown-menu w3-theme-l2 w3-opacity-min " aria-labelledby="navbarDropdown">
                <a class="dropdown-item w3-text white" href="{% url 'propertys' %}">Propreties file</a>
                <a class="dropdown-item w3-text white" href="{% url 'locations' %}">Locations file</a>
                <a class="dropdown-item w3-text white" href="{% url 'owners' %}">Owners file</a>
                <a class="dropdown-item w3-text white" href="{% url 'buyers' %}">Buyers file</a>
            
                <a href="{% url 'blog-about' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Blog About</a>
                <a href="{% url 'post-create' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Create</a>
            
              </div>
              </div>
            </li>
            {% endif %}
        </ul>
    
                </div>
              </div>
              
            </nav>




<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ user.username|capfirst }} Dashboard</h1>
          <p class="lead">Manage your Kwela account</p>
        </div>
      </div>
    </div>
  </section>
 

    
<section id="dashboard" class="py-4">
<div class="container ">
<div class="row">
<div class="col-md-12">
  <div>
 

  {% if contact %}
  </div>
  <h4 class="w3-padding w3-margin w3-right-align">Viewed listings</h4>

  <div class="w3-responsive">
      <table class="table w3-table-all">
    
      <thead>
    
        <tr class="w3-brown">
          <th  scope="col">Date of Contact</th>
          <th  scope="col">#</th>
          <th  scope="col">Property</th>
          <th  scope="col">Message</th>
          <th ></th>
        </tr>
      </thead>
      <tbody>
        {% for sema in contact %}
          <tr class="w3-border">
            <td>{{ sema.contact_date }}</td>
            <td>{{ sema.id }}</td>
            <td>{{ sema.listing }}</td>
            <td>{{ sema.message}}</td>
            <td class="">
              <a class="btn  w3-green" href="{% url 'listing' sema.listing_id %}">View Listing</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>You have not made any inquiries</p>
  {% endif %}
  <br>   <br>   <br>
<!-- payment table-->
 
    {% if malipo %}
    <div class="w3-container">
    
    <h4 class="w3-right-align">Payment Summary</h4>

    <div class="w3-responsive">
    <table class="w3-table-all">
   
    <tr class="w3-orange">
      <th>Account Date</th>
      <th>Plot No</th>
      <th>Receipt Date</th>
      <th>Buying Price KES</th>
      <th>Receipt Amount KES</th>
      <th>Balance KES</th>
      
    </tr>
    <tr>
      {%for malipo in malipo %}
      <td class="w3-green">{{malipo.account_date}}</td>
      <td>{{malipo.Plot_no}}</td>
      <td>{{malipo.bankreciept_date}}</td>
      <td>{{malipo.buying_price|intcomma}}</td>
      <td>{{malipo.Amount|intcomma}}</td>
      <td>{{malipo.Balance|intcomma}}</td>
      {% endfor %}
    </tr>
    <tr>
      {%for malipo_two in malipo_two %}
      <td class="w3-green">{{malipo_two.account_date}}</td>
      <td>{{malipo_two.Plot_no}}</td>
      <td>{{malipo_two.bankreciept_date}}</td>
      <td>{{malipo_two.buying_price|intcomma}}</td>
      <td>{{malipo_two.Amount|intcomma}}</td>
      <td>{{malipo_two.Balance|intcomma}}</td>
      {% endfor %}
    </tr>
      <tr>
          {%for malipo_three in malipo_three %}
          <td class="w3-green">{{malipo_three.account_date}}</td>
          <td>{{malipo_three.Plot_no}}</td>
          <td>{{malipo_three.bankreciept_date}}</td>
          <td>{{malipo_three.buying_price|intcomma}}</td>
          <td>{{malipo_three.Amount|intcomma}}</td>
          <td>{{malipo_three.Balance|intcomma}}</td>
          {% endfor %}
        </tr>
    </table>
    </div>
    
    <div class="w3-panel w3-red">
      <p>Details about ownership , Realtor, and other important details are in the cards below.</p>
    </div>
    
    </div>
    {% endif %}
    
    <br>   <br>   <br>

        
                <!-- Malipo -->
             <section class="w3-margin">
              {% if malipo %}                
                <h4 class="w3-right-align" >Receipt detail</h4>
                    {% for malipo in malipo %}
                      <div class="w3-small  w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                        <header class="w3-container w3-theme">
                          <p><b>#1</b>-{{malipo.account_date}}</p>
                          <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo.Plot_no}}</span></h5> 
                        </header>
                          <div>
                            <p class="w3-text-green w3-margin w3-center">{{malipo.Buyer}}</p>
                          </div>
                              <div class="w3-container">    
                                <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                  <li><b>Agreed Buying Price </b>{{malipo.buying_price | intcomma}}</li>
                                  <li><b>Owner </b>{{malipo.Owner}}</li>
                                  <li><b>Realtor </b>{{malipo.Realtor}}</li>
                                  <li><b>Bank </b> {{malipo.bank}}</li>
                                  <li><b>Bank Branch</b> Kes {{malipo.bank_branch}}</li> 
                                  <li><b>B/Agent Number</b> {{malipo.bank_agent_no}}</li> 
                                </ul>
                              </div>
                            <p class="w3-margin">
                                <span class="w3-text-green">Receipt No</span> {{malipo.reciept_no}}<br/>
                                <span class="w3-text-green">Receipt Date</span> {{malipo.bankreciept_date}}
                            </p>
                          
                            <p class="w3-text-red w3-normal w3-margin">Amount On Receipt
                                <strong>Kes {{malipo.Amount | intcomma}}</strong> </p>
                          <footer class="w3-container w3-padding w3-theme">
                             <h6> 
                              <span class="w3-text-yellow">Balance</span> Kes {{malipo.Balance | intcomma}}
                            </h6>
                          </footer>
                       </div>
                    {% endfor %}
                     
               
                    {% for malipo_two in malipo_two %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#2</b>-{{malipo_two.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_two.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-margin w3-center">{{malipo_two.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_two.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_two.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_two.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_two.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_two.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_two.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_two.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_two.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_two.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_two.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                      {% endfor %}

                        {% for malipo_three in malipo_three %}
                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#3</b>-{{malipo_three.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_three.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-margin w3-center">{{malipo_three.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_three.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_three.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_three.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_three.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_three.bank_branch}}</li>
                                    <li><b>B/Agent Number</b> {{malipo_three.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_three.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_three.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_three.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_three.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>

                        {% endfor %}

                      
                        {% for malipo_four in malipo_four %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#4</b>-{{malipo_four.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_four.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_four.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_four.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_four.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_four.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_four.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_four.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_four.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_four.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_four.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_four.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_four.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>

                        {% endfor %}


                        {% for malipo_five in malipo_five %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#5</b>-{{malipo_five.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_five.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_five.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_five.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_five.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_five.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_five.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_five.bank_branch}}</li>
                                    <li><b>B/Agent Number</b> {{malipo_five.bank_agent_no}}</li>  
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_five.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_five.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_five.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_five.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                        {% endfor %}

                        {% for malipo_six in malipo_six %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#6</b>-{{malipo_six.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_six.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_six.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_six.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_six.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_six.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_six.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_six.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_six.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_six.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_six.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_six.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_six.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                        {% endfor %}

                        {% for malipo_seven in malipo_seven %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#7</b>-{{malipo_seven.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_seven.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_seven.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_seven.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_seven.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_seven.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_seven.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_seven.bank_branch}}</li> 
                                    <li><b>B/Agent Number</b> {{malipo_seven.bank_agent_no}}</li> 
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_seven.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_seven.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_seven.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_seven.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                        {% endfor %}

                        {% for malipo_eight in malipo_eight %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#8</b>-{{malipo_eight.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_eight.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_eight.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_eight.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_eight.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_eight.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_eight.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_eight.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_eight.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_eight.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_eight.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_eight.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_eight.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>  
                        {% endfor %}           

                        {% for malipo_nine in malipo_nine %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#9</b>-{{malipo_nine.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_nine.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_nine.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_nine.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_nine.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_nine.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_nine.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_nine.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_nine.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_nine.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_nine.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_nine.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_nine.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>  
                        {% endfor %}   

                        {% for malipo_ten in malipo_ten %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#10</b>-{{malipo_ten.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_ten.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_ten.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_ten.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_ten.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_ten.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_ten.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_ten.bank_branch}}</li>
                                    <li><b>B/Agent Number</b> {{malipo_ten.bank_agent_no}}</li>  
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_ten.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_ten.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_ten.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_ten.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                        {% endfor %}

                        {% for malipo_eleven in malipo_eleven %}

                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#11</b>-{{malipo_eleven.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_eleven.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_eleven.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_eleven.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_eleven.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_eleven.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_eleven.bank}}</li>
                                    <li><b>Bank Branch</b> Kes {{malipo_eleven.bank_branch}}</li> 
                                    <li><b>B/Agent Number</b> {{malipo_eleven.bank_agent_no}}</li> 
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_eleven.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_eleven.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_eleven.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_eleven.Balance | intcomma}}
                                  </h6>
                            </footer>
                        </div>
                        {% endfor %}
                        
                      {% for malipo_twelve in malipo_twelve %}
                      <div class="w3-small w3-topbar w3-border-indigo w3-margin w3-quarter w3-hover-shadow w3-white w3-card ">
                          <header class="w3-container w3-theme">
                            <p><b>#12</b>-{{malipo_twelve.account_date}}</p>
                            <h5 class="w3-large ">Plot No <span class="w3-normal">{{malipo_twelve.Plot_no}}</span></h5> 
                            </header>
                              <div>
                                  <p class="w3-text-green w3-large w3-margin w3-center">{{malipo_twelve.Buyer}}</p>
                              </div>
                                <div class="w3-container">    
                                  <ul class="w3-ul w3-hoverable" style="list-style: none;">
                                    <li><b>Agreed Buying Price </b>{{malipo_twelve.buying_price | intcomma}}</li>
                                    <li><b>Owner </b>{{malipo_twelve.Owner}}</li>
                                    <li><b>Realtor </b>{{malipo_twelve.Realtor}}</li>
                                    <li><b>Bank </b> {{malipo_twelve.bank}}</li>
                                    <li><b>Bank Branch</b> {{malipo_twelve.bank_branch}}</li>  
                                    <li><b>B/Agent Number</b> {{malipo_twelve.bank_agent_no}}</li>
                                  </ul>
                                </div>
                              <p class="w3-margin">
                                  <span class="w3-text-green">Receipt No</span> {{malipo_twelve.reciept_no}}<br/>
                                  <span class="w3-text-green">Receipt Date</span> {{malipo_twelve.bankreciept_date}}
                              </p>
                              <p class="w3-text-red w3-normal w3-margin">Total Amount Paid
                                  <strong>Kes {{malipo_twelve.Amount | intcomma}}</strong> </p>
                            <footer class="w3-container w3-padding w3-theme">
                                  <h6> 
                                    <span class="w3-text-yellow">Balance</span> Kes {{malipo_twelve.Balance | intcomma}}
                                  </h6>
                            </footer>
                      </div>                       
                      {% endfor %}

                      {% else %}
                      <div class="w3-card   w3-white w3-topbar w3-border-green">
                          <div class=" w3-camo-black">
                           
                        <h4 class="w3-center w3-margin">Payment Information Detail is not Available below are some of the reasons why this is the case</h4>
                            </div>
                            <div>
                        <ol class="w3-margin">
                          <li>You have not paid for any plot</li>
                          <li>If you have paid you have not sent any receipt information so that your account can be updated </li>
                          <li>If you have already sent the receipt information it will be published after verification</li>
                          <li>If its more than 24hrs since your last submission please call the customer care number for faster response</li>
                          <li><h6>To send the payment information just go to  CONTACT and send the Bank Name, Bank Branch/Bank Agent, Receipt number, Receipt date, and Receipt Amount </h6></li>
                        </ol>
                       </div>
                      </div>
                    
                  {% endif %}

       </div>
       

                
 
        
        <!--end of malipo-->
    </div>
    </div> 
  </div>
</div>
</div>
</section> 

  {% endblock %}