{% extends 'base.html' %}
{% load static %}
{% block title %} |About {% endblock %}
{% block content %}


<section>
{% if abouts %}
 <!-- About Section -->
 
        <!-- Breadcrumb -->
        <section id="bc" class="mt-3">
                <div class="container">
                  <nav >
                    <ol class="breadcrumb w3-white">
              
                      <li class="breadcrumb-item">
                        <a href="{% url 'photos' %}">Gallery</a>
                      </li>
                      <li class="breadcrumb-item">
                          <a href="{% url 'teams' %}">Our Team</a>
                        </li>
                      
                    </ol>
                  </nav>
                </div>
              </section>
<div  id="about">

 
    {% for about in abouts %}
      <div class="w3-content w3-container w3-padding-large w3-light-grey">
          
          <hr class="bg-success" style="width:100%">
          <p class="w3-large">{{about.content|safe }}</p>
      </div>
    {% endfor %}

{% endif %}

      <hr>
</div>
</section>
    {% endblock %}
