{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} Welcome {% endblock %}

{% block content %}

{% for faq in faqs %}
<section class="w3-light-grey">
    <section class="galeria">
        <div class="sesgoarriba"></div>
        <div class="imagenes">
            <img class="w3-display-container"src="{{ faq.image.url }}" alt="faq" style="width:100%; height:80vh">

     <div class="enmica">
                <h2>Frequently Asked Questions</h2>
                    </div>
                <div>
            </div>
        </div>
       
     
    </section>

{% endfor %} 
    <div class="container ">
        <div class="row">
            <div class="col-sm">
                {% for faq in faqs %}
                <div class=" w3-padding-large w3-margin-top">
                    {{ faq.content|safe }}
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% include 'partials/sidebar.html' %}
            </div>
        </div>
    </div>
    
</section>


{% endblock %}