{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} | Home {% endblock %}

{% block content %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark w3-theme-d5 sticky-top" style="width:100%;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
          <li
            {% if 'listings' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'listings' %}">Featured </a>
          </li>
          
            <a class="nav-link w3-hide" href="{% url 'contact' %}">Contact </a>
          </li>
          
          <li
            {% if 'blog-home' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'blog-home' %}">Kwela InfoHub </a>
          </li>

         
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'wasifu ' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'wasifu' %}">Profile</a>
          </li>
            
        </li>
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'dashboard' %}">
               [Dashboard]</a>
            </li>
            
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        
          {% if perms.catalog.can_view_buyers %}
          <li {% if 'Propertys' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Files
              </a>
              <div class="dropdown-menu w3-theme-l2 w3-opacity-min " aria-labelledby="navbarDropdown">
                <a class="dropdown-item w3-text white" href="{% url 'propertys' %}">Properties file</a>
                <a class="dropdown-item w3-text white" href="{% url 'locations' %}">Locations file</a>
                <a class="dropdown-item w3-text white" href="{% url 'owners' %}">Owners file</a>
                <a class="dropdown-item w3-text white" href="{% url 'buyers' %}">Buyers file</a>
            
                <a href="{% url 'blog-about' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Blog About</a>
                <a href="{% url 'post-create' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Create</a>
            
              </div>
              </div>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
            
 

   <!-- Listings -->
   <section id="listings" class="py-5 " >

    <div class="w3-padding-64 w3-margin 
    ">
    <div class="jumbotron">
    <h1 class="w3-text-black w3-center w3-jumbo">Big <span class="w3-text-red">News Lamu</span> Massive Opportunity</h1>
    <h2 class="w3-center">Lamu Plots of Land for Sale </h2> 
    <h4 class="w3-center">Kenya Goverment Biggest Investment Yet</h4>
    <h5 class=" w3-center w3-padding w3-margin-bottom ">You should invest in LAMU today <br>  </h5>
   </div>
    <div class=" w3-margin-top">
        <div class="w3-container">
  
            <div class="container  w3-margin-bottom">
                <div class="w3-panel w3-bottombar w3-border-theme">
                <div class=" w3-third w3-center">
                    <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
                  </div>
                  <div class="w3-third w3-center">
                      <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 072 697 3915
                    </div>
                    <div class="w3-third w3-center">
                        <i class="fas fa-phone" style="font-size:18px;color:blue;"></i> (+254) 0743 800 497
                      </div>
                  </div>
                  <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have the best Land Products in lamu. Upto 1year Installments</p>
                </div>    
          </div>
      </div>
    </div>
      <!-- Good offers -->
      <div class="w3-container w3-half w3-margin-top">
          <h3 class="w3-center">What is Lapsett?</h3>
          <h6 class="w3-center">Lapsett<strong> Corridor</strong> Project.</h6>
          <h5 class=" w3-center w3-padding w3-margin-bottom ">MR. Silvester Kasuku <br>  </h5>
        </div>
  <div class="w3-container  w3-half w3-hide-small w3-margin-top">
    <h3 class="w3-center">Why Invest in Lapsett</h3>
    <h6 class="w3-center">Why Lapestt is  <strong>important</strong></h6>
    <h5 class=" w3-center w3-padding w3-margin-bottom ">Other thoughts on Project <br>  </h5>
  
  </div>

  <div class="w3-row-padding w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
          <iframe width="100%" height="510px" src="https://www.youtube.com/embed/zxjpRORoEmQ">
          </iframe>
        <span class="w3-display-topright w3-margin  w3-padding  w3-theme-d5">What is Lapsett</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
         
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
              <iframe width="100%" height="245px" src="https://www.youtube.com/embed/rEMGjoox23w"
              allowfullscreen="allowfullscreen"
              mozallowfullscreen="mozallowfullscreen" 
              msallowfullscreen="msallowfullscreen" 
              oallowfullscreen="oallowfullscreen" 
              webkitallowfullscreen="webkitallowfullscreen">
              </iframe>

  
          
            <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5">Lamu Visualization</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
            <div class="w3-display-container">
                <iframe width="100%" height="245px" src="https://www.youtube.com/embed/ROu0d3BAk_Y"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen">
                </iframe>
    
            
              <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5">Lamu Benefits most</span>
            </div>
          </div>
          <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                  <iframe width="100%" height="245px" src="https://www.youtube.com/embed/hMBh74lrsxQ"
                  allowfullscreen="allowfullscreen"
                  mozallowfullscreen="mozallowfullscreen" 
                  msallowfullscreen="msallowfullscreen" 
                  oallowfullscreen="oallowfullscreen" 
                  webkitallowfullscreen="webkitallowfullscreen">
                  </iframe>
                  
              
                <span class="w3-display-bottomleft w3-margin  w3-padding  w3-theme-d5">Lapsett ready by 2020</span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
                <div class="w3-display-container">
                    
                    <iframe width="100%" height="245px" src="https://www.youtube.com/embed/QvYBCFoyak4"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen" 
                    msallowfullscreen="msallowfullscreen" 
                    oallowfullscreen="oallowfullscreen" 
                    webkitallowfullscreen="webkitallowfullscreen">
                    </iframe>
                   
                
                  <span class="w3-display-bottomleft w3-padding w3-margin w3-theme-d5">View Undergoing Construction</span>
                </div>
              </div>
        </div>
        
      </div>
    </div>
  </div>

 
    <div class="w3-container w3-padding-64 w3-margin">
      <div class="w3-panel">
          <h1 class="w3-center w3-text-green">The Time To Invest in Lamu is Now - Lapset Project will be Complete By 2020.</h1>
      <blockquote class="w3-panel   w3-leftbar w3-border-grey">
      <ul>
        <li>First Without fear of contradiction we can confidently, say the Kenya Goverment Lapsett Project in  Lamu is the biggest investement of the century. The evidence is there proving this as a fact and the action is there with already three berths complete.
        <li>Secondly the Lapsett director Mr. Silvester Kasuku assures that the Lapsett will be complete by 2020.That means we have two years before affodable land becomes unaffordable. The reason we are confident about this is, though today the lamu is marginally populated. The lapsett project alone employs 450, 000 kenyans those translate to 450,000 households which can easily get to one million people as a result of the economic transition.</li>
        <li>In finality Kwela offers you the opportunity to own prime land with title deeds, but most importantly high return land  projected to icrease value by more than 300%. The deal gets even better we offer time and as low as ksh 5000 deposit to start owning.</li>
      </ul>
      </blockquote>
      </div> 
    </div>
 </div>

  <section class="w3-theme-d5">
    <h1 class="w3-white w3-center w3-text-green w3-padding w3-margin">Our Product range</h1>
    <div class="w3-row-padding  w3-margin-bottom">
        <div class="w3-half">
          <div class="w3-container w3-center  w3-xxlarge ">
           <h1>Hindi Phase I</h1>
           <h3>Titled Land</h3>
           <p>700K per acre </p>
           <p>400K per 1/2 acre</p>
           <p>200k per 1/4 acre</p>
           
          </div>
        </div>
        
        <div class="w3-half">
          <div class="w3-container w3-center w3-xxlarge">
            <h1>Hindi Phase II</h1>
            <h3>Untitled Land</h3>
            <p>150K per acre</p>
            <p>80K per 1/2 acre</p>
            <p>50k per 1/2 acre</p>  
        </div>
      </div>
    </div>  
  </section>
 
  <div class="container  w3-margin-bottom">
      <div class="w3-panel w3-bottombar w3-border-theme">
      <div class=" w3-third w3-center">
          <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
        </div>
        <div class="w3-third w3-center">
            <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 072 697 3915
          </div>
          <div class="w3-third w3-center">
              <i class="fas fa-phone" style="font-size:18px;color:blue;"></i> (+254) 0743 800 497
            </div>
        </div>
        <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have much more to tell you about our properties below are our products category in lamu</p>
      </div>    
    

   <!-- Listings -->
<section id="listings" class="py-5 " >
    <div class="container">
      <h1 class="w3-xxxlarge  w3-text-green w3-marginbottom text-center  mb-3">Our Products</h1>
        <div class="row">
          {% if listings %}
            {% for listing in listings %}
              <!-- Listing 1 -->
              <div class="col-md-6 col-lg-4  mb-4">
                <div class="card w3-border-white listing-preview w3-shadow">
                  <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" style="width:100%; height:250px;">
                  <div class="card-img-overlay w3-shadow ">
                    <h2>
                      <span class="badge w3-orange text-black">Kes{{ listing.price | intcomma }}</span>
                    </h2>
                  </div>
                  <div class="card-body w3-white">
                    <div class="listing-heading text-center">
                      <h4 class="text-primary">{{ listing.title }}</h4>
                      <p>
                        <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                    </div>
                    
                    
                    <div class="row py-2  ">
                      <div class="col-6">
                        <i class="fa fa-road text-dark"></i> Roads: {{ listing.roads }}</div>
                      <div class="col-6">
                        <i class="fas fa-tint text-info"></i> Water: {{ listing.water}}</div>
                    </div>
                    <div class="row py-2 ">
                      <div class="col-6">
                        <i class="fas fa-th-large w3-text-brown"></i> Size: {{ listing.lot_size }}</div>
                      <div class="col-6">
                        <i class="fa fa-lightbulb-o text-warning"></i> Electricity: {{ listing.electricity}}</div>
                    </div>
               
                    <div class="row py-2 ">
                      <div class="col-6">
                        <i class="fas fa-user text-danger"></i> {{ listing.realtor }}</div>
                    </div>
                    <div class="row  pb-2">
                      <div class="col-12">
                        <i class="fas fa-clock text-primary"></i> {{ listing.list_date | timesince }}</div>
                    </div>
                  </div>
                    
                    <a href="{% url 'listing' listing.id %}" class="btn w3-theme-d5 w3-hover-green btn-block">More Info</a>
                  </div>
                </div>
              
            {% endfor %}
          {% else %}
            <div class="col-md-12">
              
              <p>No Plots listings Available</p>
            </div>
          {% endif %}
  
        </div>
      </div>
  </section>
  
      
       <!-- TESTIMONIAL -->
       <section id="testament w3-padding-64 w3-margin">
         <h1 Class="w3-center"> What our Clients Are Saying</h1>
              <div class="container">
                   {% if testimonials %}
                       
                             {% for testimonial in testimonials %}
                                  <div class="w3-panel">             
                                       <div class="w3-container ">
                                            <h4 class="w3-left-align" >{{testimonial.user.first_name|capfirst}} {{testimonial.user.last_name|capfirst}}</h4>
                                            <p class="w3-left-align">{{testimonial.post_date}}</p>
                                            <img src="{{ testimonial.testimonials_image.url}}" alt=" " class="w3-left w3-border w3-padding w3-circle" style="padding:2px; width:115px; height:100px;">
                                            <p class="w3-left-align">{{testimonial.message|safe}}</p>
                                       </div>
                                  </div>
                             {% endfor %}
                   {% else %}                                    
                   <p>There are no testimonies</p>
                  {% endif %}   
              </div>
          </section>

          
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>We at Kwela have been buying and selling plots for more than ten years. 
            We know the do and dont's of everything to do with Land. That includes as
            being victims in our days of amateurism don't just buy because it has a title we know better.
          </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Plot Search</h3>
          <p>Sometimes the kind of land your looking for it is too strategic few people are selling. 
            That means few are advertising, thats where we come in we work with you to search it out so 
            that you only buy what your looking for .</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Selling</h3>
          <p>Not everyone is a buyer we value the people who choose to sell land through us. 
            Depending with location at times we too can be you customers. So come and join us today we can build faster and bigger.</p>
        </div>
      </div>
    </div>
    
  </section>

{% endblock %}