{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} Welcome {% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark w3-theme-d5 sticky-top">

    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li
            {% if 'contact' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
          <li
            {% if 'listings' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'listings' %}">Featured </a>
          </li>
          
            <a class="nav-link" href="{% url 'contact' %}">Contact </a>
          </li>
          <li
            {% if 'blog-home' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'blog-home' %}">Kwela InfoHub </a>
          </li>

         
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'wasifu ' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link w3-hide" href="{% url 'wasifu' %}">Profile</a>
          </li>
            
        </li>
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'dashboard' %}">
               [Dashboard]</a>
            </li>
            
            <li class="nav-item mr-3">
              <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'register' %}">
                <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        
          {% if perms.catalog.can_view_buyers %}
          <li {% if 'Propertys' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Files
              </a>
              <div class="dropdown-menu w3-theme-l2 w3-opacity-min " aria-labelledby="navbarDropdown">
                <a class="dropdown-item w3-text white" href="{% url 'propertys' %}">Propreties file</a>
                <a class="dropdown-item w3-text white" href="{% url 'locations' %}">Locations file</a>
                <a class="dropdown-item w3-text white" href="{% url 'owners' %}">Owners file</a>
                <a class="dropdown-item w3-text white" href="{% url 'buyers' %}">Buyers file</a>
            
                <a href="{% url 'blog-about' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Blog About</a>
                <a href="{% url 'post-create' %}" class="w3-bar-item w3-button"  style="text-decoration:none;">Create</a>
            
              </div>
              </div>
            </li>
            {% endif %}
        </ul>
    
                </div>
              </div>
              
            </nav>



 <!-- Showcase -->
 <div >
<section id="showcase">
    <div class="container  text-center">
    <div class="home-search  p-5">
      <div class="overlay p-5  ">
        <h1 class="display-4 mb-4">
          Property Search
        </h1>
        <p class="lead">Linking You To The Property Your Looking For </p>
        <div class="search">
          <form action="{% url 'search' %}">
             <!-- Form Row 1 -->
             <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (search)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Location</label>
                <input type="text" name="Location" class="form-control" placeholder="Location">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">County</label>
                <select name="state" class="form-control">
                  <option selected="true" disabled="disabled">Towns</option>
                  {% for key,value in state_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2  -->
              <div class="form-row"> 
                <div class="col-md-6 mb-3">
                  <label class="sr-only">lot size</label>
                  <select name="lot_size" class="form-control">
                    <option selected="true" disabled="disabled">Plot Sizes (All)</option>
                    {% for key,value in lot_size_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                    {% for key,value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn  btn-block mt-4 w3-orange" type="submit"><strong class="w3-large">SUBMIT</strong></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  

   <!-- Listings -->
   <section id="listings" class="py-5 " >
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4  mb-4">
              <div class="card w3-border-white listing-preview w3-shadow">
                <img class="card-img-top" src="{{ listing.photo_main.url }}" alt="" style="width:100%; height:250px;">
                <div class="card-img-overlay w3-shadow ">
                  <h2>
                    <span class="badge w3-orange text-black">Kes{{ listing.price | intcomma }}</span>
                  </h2>
                </div>
                <div class="card-body w3-white">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  
                  
                  <div class="row py-2  ">
                    <div class="col-6">
                      <i class="fa fa-road text-dark"></i> Roads: {{ listing.roads }}</div>
                    <div class="col-6">
                      <i class="fas fa-tint text-info"></i> Water: {{ listing.water}}</div>
                  </div>
                  <div class="row py-2 ">
                    <div class="col-6">
                      <i class="fas fa-th-large w3-text-brown"></i> Size: {{ listing.lot_size }}</div>
                    <div class="col-6">
                      <i class="fa fa-lightbulb-o text-warning"></i> Electricity: {{ listing.electricity}}</div>
                  </div>
             
                  <div class="row py-2 ">
                    <div class="col-6">
                      <i class="fas fa-user text-danger"></i> {{ listing.realtor }}</div>
                  </div>
                  <div class="row  pb-2">
                    <div class="col-6">
                      <i class="fas fa-clock text-primary"></i> {{ listing.list_date | timesince }}</div>
                  </div>
                </div>
                  
                  <a href="{% url 'listing' listing.id %}" class="btn w3-theme-d5 w3-hover-green btn-block">More Info</a>
                </div>
              </div>
            
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            
            <p>No Plots listings Available</p>
          </div>
        {% endif %}

            </div>
          </div>
        </div>

          
  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>We at Kwela have been buying and selling plots for more than ten years. 
            We know the do and dont's of everything to do with Land. That includes as
            being victims in our days of amateurism don't just buy because it has a title we know better.
          </p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Plot Search</h3>
          <p>Sometimes the kind of land your looking for it is too strategic few people are selling. 
            That means few are advertising, thats where we come in we work with you to search it out so 
            that you only buy what your looking for .</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Selling</h3>
          <p>Not everyone is a buyer we value the people who choose to sell land through us. 
            Depending with location at times we too can be you customers. So come and join us today we can build faster and bigger.</p>
        </div>
      </div>
    </div>
  </section>


          
        
      
            


  
{% endblock %}