{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} | Home {% endblock %}

{% block content %}

<!-- sidebar-->
{% include 'partials/_sidebar.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
<!-- Top Bar -->
{% include 'partials/_topbar.html' %}
  

  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    {% if listings %}
      {% for listing in listings %}
    <div class="w3-third  w3-margin-bottom">
        <img src="{{ listing.photo_main.url }}" alt="Norway" style="width:100%; height:200px;" class="w3-card w3-hover-opacity">
      <div>
          <h2>
           
          </h2>
        </div>
      <div class="w3-small w3-white">
          <div class="card-body w3-hover-shadow w3-white">
              <div class="listing-heading text-center">
                <h6 class="text-primary"><b>{{ listing.title }}</b></h6>
               
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{ listing.county }}, {{ listing.town }}, {{ listing.location }}</p>
                  <p><span class="btn w3-win8-cobalt w3-large text-black">Kes{{ listing.price | intcomma }}</span</p>
              </div>     
              <div class="row py-2  ">
                <div class="col-6">
                  <i class="fa fa-road text-dark"></i> Roads: {{ listing.roads }}</div>
                <div class="col-6">
                  <i class="fas fa-tint text-info"></i> Water: {{ listing.water}}</div>
              </div>
              <div class="row py-2 ">
                <div class="col-6">
                  <i class="fas fa-th-large w3-text-brown"></i> Size: {{ listing.plot_size }}</div>
                <div class="col-6">
                  <i class="fa fa-lightbulb-o text-warning"></i> Power: {{ listing.electricity }}</div>
              </div>
              <div class="row py-2 ">
                  <div class="col-6">
                    <i class="fas fa-user text-danger"></i> {{ listing.realtor }}</div>
                  <div class="col-6">
                      <i class="fas fa-clock text-primary"></i> {{ listing.list_date | timesince }}</div>
                </div>
              <div class="row py-2 ">
                  <div class="col-6">
                      <a href="{% url 'listing' listing.id %}" class="btn w3-right w3-border-amber w3-hover-amber">More Info</a></div>
              </div>
              
            </div>
      </div>
    </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        
        <p>No Plots listings Available</p>
      </div>
    {% endif %}

  
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div>
      <a href="listings" class="btn w3-highway-yellow w3-border-orange w3-hover-white">View all Featured plots</a>
  
    </div>
  </div>

  <!-- Images of Me -->
 
  <div class="w3-row-padding w3-padding-64" id="about">
      <section class="w3-container jumbotron bg-success w3-hover-black w3-hover-text-amber w3-wide w3-center w3-allerta">
          <p class="w3-xxxlarge">Our Two Areas of Interest</p>
      </section>
    <div class="w3-col m6">
      <h3 class="w3-center">Lamu</h3>
      <img class="zoom" src="{% static 'img/lamu.jpg' %}" alt="Lamu" style="width:100%; height:300px;">
    </div>
    <div class="w3-col m6">
        <h3 class="w3-center">Ruiru</h3>
        <img class="zoom" src="{% static 'img/ruiru.png' %}" alt="Ruiru" style="width:100%; height:300px;">
    </div>
  </div>

  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h4><b>Why Lamu And Ruiru</b></h4>
    <p>There are only two places in kenya that have had so similar fates. 2008 Ruiru woke up to the building of Thika Road and the Eastern Bypass. plots that sold for 
      kes 19,000 payable in six months rocketed to Kes 1.5M in five years. 2019 Lamu is waking up and it will be the biggest opportunity ever to Kwela Lamu is the future. what is happening to Lamu is just a repition of Ruiru 2008.
      <a href="lamu" class="w3-text-red" style="text-decoration:none;"> Learn More about Lamu here</a> Or even better hear about it from us directly. Just call and we will tell you all about it.
      <div class="container   w3-margin-bottom">
          <div class="w3-panel w3-bottombar w3-border-theme">
          <div class=" w3-third w3-center">
              <i class="fas fa-phone" style="font-size:18px;color:green;"></i> (+254) 0726 776 796
            </div>
            <div class="w3-third w3-center">
                <i class="fas fa-phone" style="font-size:18px;color:orange;"></i> (+254) 072 697 3915
              </div>
              <div class="w3-third w3-center">
                  <i class="fas fa-phone" style="font-size:18px;color:rgb(33, 79, 233);"></i> (+254) 0743 800 497
                </div>
            </div>
            <p class="w3-center w3-xlarge"><span class="w3-text-red w3-wide">Call Us</span> we have much more to tell you about our properties, or just click below to view all our properties</p>
          </div>  
    </p>
    <div class="w3-center w3-padding-32">
        <div>
          <a href="listings" class="btn w3-highway-yellow w3-border-orange w3-hover-white">View all Featured plots</a>
      
        </div>
      </div>
    <hr>
    
    <h4>Ruiru</h4>
    <p>However for those who are still looking for a prime place to build. Ruiru is still the one place which is still affordable in Nairobi Metropolitan. You can get a plot for as low as Kes 400,000 meaning if you have a million its a good starting point.</p>
    <!-- Progress bars / Skills -->
    
    </p>
    <hr>
 
<!-- End page content -->
</div>






<!-- TESTIMONIAL -->
<section id="testament w3-padding-64 w3-margin">
 
      <div class="container">
            {% if testimonials %}
            <h1 Class="w3-center w3-text-red"> What our Clients Are Saying</h1>
                      {% for testimonial in testimonials %}
                          <div class="w3-panel">             
                                <div class="w3-container ">
                                    <h4 class="w3-left-align" >{{testimonial.user.first_name|capfirst}} {{testimonial.user.last_name|capfirst}}</h4>
                                    <p class="w3-left-align">{{testimonial.post_date}}</p>
                                    <img src="{{ testimonial.testimonials_image.url}}" alt=" " class="w3-left w3-border w3-padding w3-circle" style="padding:2px; width:115px; height:100px;">
                                    <p class="w3-left-align">{{testimonial.message|safe}}</p>
                                </div>
                          </div>
                      {% endfor %}
            {% else %}                                    
            <p class="w3-center">Need Help We Are Here For You </p>
          {% endif %}   
      </div>
  </section>
 
<div>
</div>
</div>


{% endblock %}