{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}

<!-- Listings -->
<!-- sidebar-->
{% include 'partials/_sidebar.html' %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">
<!-- Top Bar -->
{% include 'partials/_topbar.html' %}
<div class="w3-row-padding">
    {% if listings %}
    {% for listing in listings %}
    <div class="w3-third  w3-margin-bottom w3-display-container">
        <img src="{{ listing.photo_main.url }}" alt="Norway" style="width:100%; height:200px;" class="w3-card-4 w3-round w3-hover-opacity">
        <div class="w3-display-topleft w3-container"><span class="btn w3-margin-top w3-win8-cobalt w3-large text-black">Kes{{ listing.price | intcomma }}</span></div>
      <div>
          <h2>
           
          </h2>
        </div>
      <div class="w3-small w3-white">
          <div class="card-body w3-round w3-hover-shadow w3-white">
              <div class="listing-heading text-center">
                <h6 class="text-primary"><b>{{ listing.title }}</b></h6>
                <p><i class="fas fa-map-marker text-secondary"></i>{{ listing.county }}-{{ listing.town }}-{{ listing.location }}</p>
              </div>     
              <div class="row py-2  ">
                <div class="col-6">
                  <i class="fa fa-road text-dark"></i> Roads: {{ listing.roads }}</div>
                <div class="col-6">
                  <i class="fas fa-tint text-info"></i> Water: {{ listing.water}}</div>
              </div>
              <div class="row py-2 ">
                <div class="col-6">
                  <i class="fas fa-th-large w3-text-brown"></i> Size: {{ listing.plot_size }}</div>
                <div class="col-6">
                  <i class="fa fa-lightbulb-o text-warning"></i> Power: {{ listing.electricity }}</div>
              </div>
              <div class="row py-2 ">
                  <div class="col-6">
                    <i class="fas fa-user text-danger"></i> {{ listing.realtor }}</div>
                  <div class="col-6">
                      <i class="fas fa-clock text-primary"></i> {{ listing.list_date | timesince }}</div>
                </div>
              <div class="row py-2 ">
                  <div class="col-12"><a href="{% url 'listing' listing.id %}"><span class="btn w3-right w3-border-green w3-hover-green">More Info</span></a></div>
              </div>
              
            </div>
      </div>
    </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        
        <p>No Plots listings Available</p>
      </div>
    {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
                <li class="page-item">
                  <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in listings.paginator.page_range %}
                {% if listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if listings.has_next %}
                <li class="page-item">
                  <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
 

{% endblock %}