{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}  | {{ user.username|capfirst }}  {% endblock %}

{% block content %}



<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
            <img class=" account-img w3-center w3-border w3-circle w3-white w3-hover-grayscale w3-padding" src="{{ user.profile.image.url }}" style="width:150px; height:150px;">
          <h1 class="display-4">{{ user.username|capfirst }} Profile</h1>
          <p >{{ user.email }}</p>
          <p class="lead">Manage your Profile account</p>
        </div>
      </div>
    </div>
  </section>



    <div class="content">
        <div class="w3-row w3-margin">
   
      
        <div class="w3-twothirds w3-theme-d5 w3-container">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">Change your user and email info here</legend>
                  {{ u_form|crispy }}
              </fieldset>
              <fieldset class="form-group">
                  <div class="w3-right">
                      <img class=" account-img w3-center w3-border w3-circle w3-white w3-hover-grayscale w3-padding" src="{{ user.profile.image.url }}" style="width:150px; height:150px;">
                  </div>
                  <legend class="border-bottom mb-4">Change Your Picture here</legend>
                  {{ p_form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn w3-border-white w3-orange w3-hover-green" type="submit">Update</button>
              </div>
          </form>
        </div>
      </div>

{% endblock content %}