#header {
    height: 50px;
    background: #303e45;
    color: #fff;
  }


  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#048a1b;
  }
  
  div.breadcrumbs {
    background: #ee1111;
    color: #eed4d4;
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #1d1d1d;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #ee1111;
    color: #fff;
  }
