#header {
    height: 50px;
    background: #32394e;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#0d7a61;
  }
  
  div.breadcrumbs {
    background: #01a0fb;
    color: #d4eee6;
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  
  .module h2, .module caption, .inline-group h2 {
    background: #0050ef;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2c66c4;
    color: #fff;
  }