{% extends "admin_interface:admin/base_site.html" %}
{% load static %}

{% block branding %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">

  <h1 id="head"  >
    <span><img style="width:32px; height:32px" src="{% static 'img/android-icon-48x48.png' %}" class="w3-circle " /></span> 
      <span class="w3-text-white">LanDPlanet</span> Admin
  </h1>
{% endblock %}
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}