{% extends 'base.html' %}
{% load static %}
{% block title %} | Machine & Equipment {% endblock %}
{% block content %}


<section class="w3-margin-top ">
  <div class=" w3-hide-large w3-hide-medium  w3-margin-bottom w3-border w3-card-4  ">
      {% include 'partials/_machinesearch.html' %}
  </div>

  <div class="container w3-hide-small w3-padding w3-margin-bottom w3-border w3-card-4  ">
      {% include 'partials/_machinesearch.html' %}
  </div>

  <div class="container w3-border w3-card-4  ">
    
    {% include 'partials/_machine.html' %}
  </div>
   
    <br><br><br>
</section>


{% endblock %}