{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} Kwela Info Hub {% endblock %}

{% block content %}
  <header class="w3-display-container w3-content w3-center" style="max-width:100%">
      <img class="w3-image" src="{% static 'img/networks.jpg' %}" alt="Magical Lamu Beutiful Pic" width="100%" height="400">
      <div class="w3-display-middle w3-highway-green w3-opacity-min w3-padding-large w3-border w3-wide w3-text-light-grey  w3-center">
        <h1 class="w3-xlarge">Kwela Info Hub</h1>
        <h5 style="white-space:nowrap">We Help You Understand Land Business</h5>
        <p class="w3-small">You can't stop learning if you want to keep growing. You {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}  are the only reason we are doing this</p>
      </div>
 </header>
     
  {% for post in posts %}
  <div class="w3-content">
      <div class="w3-row w3-margin">
      
            
            <div class="w3-third w3-card w3-round">

                <img src="{{ post.photo_blog.url}}" style="width:100%;min-height:200px">
            </div>
            <div class="w3-twothird  w3-left-align w3-container">
             
                <div  class="w3-left-align w3-text- w3-center w3-padding "><h4><strong>{{ post.title }}</strong></h4></div>
                <p class="w3-text-theme w3-small">{{ post.author.first_name|capfirst }} {{ post.author.last_name|capfirst }} {{ post.date_posted|date:"F d, Y" }} </p>
                <p class="w3-left-align w3-small">{{ post.content|slice:"210"|safe }}
                <span><a class="btn w3-border-blue w3-win8-cobalt w3-right w3-small w3-hover-white" href="{% url 'post-detail' post.id %}" style="text-decoration:none;">Read More</a></span></p>
              
             
                </div> 
         
          </div>
    </div>

  </div>
  {% endfor %}                
{% endblock %}


