{% extends 'base.html' %}
{% load static %}

{% load humanize %}

{% block title %} Welcome {% endblock %}

{% block content %}
<head>
<style>
    .w3-lobster {
      font-family: "Lobster", serif;
    }
</style>

<script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
</head>

<div id="fb-root"></div>
<section>
  <div class="w3-light-grey w3-padding-64 w3-margin-bottom w3-center">
    <h1>{{ post.title }}</h1>
  </div>
  <div class="w3-row-padding w3-content" style="max-width:1400px">
  <div class="w3-twothird">
    <img src="{{ post.photo_blog.url }}" alt="" style="width:100%;">
  <div class="w3-justify">
    <a class=" w3-xlarge" href="#" style="text-decoration:none;">Author: <span class="w3-text-red" >{{ object.author|capfirst }}<span></span></a>
    <p class="text-muted ">{{ object.date_posted|date:"F d, Y" }}</p>
    <br>       
    {% if object.author == user %}
      <div>
        <a href="{% url 'blog-home' %}" class="btn  btn-sm mt-1 mb-1 w3-border-amber w3-highway-yellow w3-right w3-hover-white">Back To Blog</a>
        <a class="btn btn-sm mt-1 mb-1  w3-border-green w3-highway-green w3-hover-white" href="{% url 'post-update' object.id %}">Update</a>
        <a class="btn btn-sm mt-1 mb-1  w3-border-red w3-highway-red  w3-hover-white" href="{% url 'post-delete' object.id %}">Delete</a>
      </div>
    {% endif %}  
    <p class="article-content">{{ object.content|safe }}</p>   
  </div>
  </div>
  <div class="w3-third">
    
  <div class="w3-card w3-media w3-margin w3-margin-top">
    <div class="w3-margin">
      <div class="fb-comments  w3-text-white w3-hover-shadow " data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="100%" data-numposts="12"></div>
    </div>
  </div>
</section>


  
  {% endblock %}
